# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Docker
.dockerignore
memory_db/
habits_db/
procedural_memory_db/
semantic_memory_db/
metrics_db/
metrics_db.sqlite3
